.try{
    width: 23.5rem;
    margin:17px;
}

@media screen and (max-width: 360px) {
  .try {
    width:15rem;
    margin:auto;
  }
}


  @media screen and (max-width: 500px) {
      .try {
        width:25rem;
        margin:auto;
      }
    }

    @media screen and (max-width: 650px) {
      .try {
        width:29rem;
        margin:auto;
      }
    }

    @media screen and (max-width: 780px) {
      .try {
        width:18rem;
        margin:15px;
      }
    }
    
    @media screen and (max-width: 1050px) {
      .try {
        width:22rem;
        margin:45px;
      }
    }

  /* @media screen and (max-width: 770px) {
    .try {
      width:32rem;
      margin-left:65px;
      margin-bottom:20px;
    }
  } */

  @media screen and (max-width: 600px) {
    .img {
      display: block;
      margin: auto;
      width: 100px;
      height: 150px;
    }
  }

  .font-header{
    font-family: 'Recursive', sans-serif;
  }

  .font{
    font-family: 'Noto Sans JP', sans-serif;
  }
  @media screen and (max-width: 400px) {
    .img {
      display: block;
      margin: auto;
      width: 100px;
      height: 150px;
    }
  }

.img{
    display: block;
    margin: auto;
    width:100px;
    height: 150px;
}




 
  
